/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 9, 2015, 3:39:13 PM
    Author     : eraktri
*/

.salonImageWrapper{
    display: inline-block;
    position: relative;
}

.salonImageWrapper img{
    display: block;
    width: 100%;
    height: 400px;
}

.salonImageWrapper .salonImageOverlay{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.25);
    color:white;
}

.salonImageRow {
    margin-top: 165px;
}

.salonImageTitle{
    margin-right: 50px;
    color:#fff;
    letter-spacing:1pt;
    font-size:50px;
    font-weight: 200;
    text-align:left;
    font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif;
    line-height:1;
    margin-bottom: 0px;
}

.btnRating{
    height: 50px;
    margin-top: 214px;
    font-weight:bold;
    background-color: #3f7e00;
    color:#fff;
    font-size: 16px;
    text-align:left;
    font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif;
    padding-top: 8px;
}

.btnSalonTag{
    background: #f2c572;
    margin-bottom: 25px;
    padding: 4px 12px;
    border-radius: 10px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .01em;
    letter-spacing: 1px;
    color: #fff!important;
    font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif;
}

.btnSalonTag:hover{
    background: #f2c572;
    padding: 4px 12px;
    border-radius: 10px;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: .01em;
    letter-spacing: 1px;
    color: #fff!important;
    font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif;
}

.salonImageWidth{
    width: 70%;
}

.bookAppointmentBtnDiv{
    width: 70%;
}

.salonImageBtnGroup{
    margin-top: 12px;
    margin-right: 8px;
}
.salonImageBtn{
    height: 37px;
    border-radius: 4px;
    background: rgba(255,255,255,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    border: 1px solid #fff;
    border-color: rgba(255,255,255,.25);
    font-weight: 200;
    font-size: 13px;
}

.salonImageBtn:hover{
    background: rgba(255,255,255,.15);
}
.salonImageBtn:active{
    background: rgba(255,255,255,.15);
}
.salonImageBtn:focus{
    background: rgba(255,255,255,.15);
}

.labelMeanRating{
    font-weight:normal;
    color:#fff;
    font-size:35px;
    font-family:palatino linotype, palatino, serif;
}

.salonImageHR{
    margin-left: 15px;
    border-top-color: darkgrey;
    margin-top: 5px;
}

.salonInfoDiv{
    background-color: #F2F2F2;
    padding-right: 0px;
}

.contactInfo{
    margin-top: 30px;
}
.contactNumbers{
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 32px;
    color: #2d2d2d;
}

.contactItem{
    padding: 0px;
    margin-bottom: 0px;
    background-color: #F2F2F2;
    border: none;
}

.addressInfo{
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    font-size: 13.33px;
    font-weight: normal;
    line-height: 20px;
    color: #2d2d2d;
}

.allAddress{
    font-family: 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    font-size: 13.33px;
    font-weight: normal;
    line-height: 22px;
    color: #9a9a9a;
    text-decoration: none;
}

#salonMap{
    height: 150px;
}

.timingInfo{
    margin-top: 10px;
}

.seemoreStyle{
    font-size: 10px;
    line-height: 1;
    cursor: pointer;
    color: #cb202d;
    margin-left: 5px;
    white-space: nowrap;
}

.openingHoursStyle{
    padding: 5px;
}

.short-text {
    overflow: hidden;
    height: 70px;
}
.full-text{
    height: auto;
}

.facility{
    padding-top: 5px;
}

.mainMenu{
    background-color: #fff;
}

.serviceInfo{
    margin-top: 30px;
}

.panel{
    margin-bottom: 10px;
}

.panel-body{
    padding: 5px;
}

.list-group{
    margin-bottom: 0px;
}

.menuImageContainer {
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
}

.galleryItem {
    color: #797478;
    font: 10px/1.5 Verdana, Helvetica, sans-serif;
    float: left; 
    width: 16%;
    margin:  2% 2% 0px 2%;
}

.galleryItem h3 {
    text-transform: uppercase;
}

.galleryItem img {
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.reviewContainer{
    height: 150px;
    border: 1px solid #9a9a9a;
    background-color: #f0f0f0;
    padding: 5px 3px;
    border-radius: 3px;
    cursor: pointer;
    display: block;
}

.containerDisabled{
    color: #9a9a9a;
    margin-top: 0;
    font-size: 14px;
    padding: 5px 8px;
}

.reviewWriteContainer{
    height: auto;
    border: 1px solid #9a9a9a;
    background-color: #f0f0f0;
    padding: 5px 7px;
    border-radius: 3px;
    display: block;
}

.reviewHeader{
    color: #2d2d2d;
    font-size: 16px!important;
    font-weight: bold;
    display: block;
    margin-bottom: 3px;
    line-height: 22.4px;
}

.yourRatingLabel{
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #9a9a9a;
    line-height:14px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.reviewAllHeader{
    font-size: 13.33px;
    font-weight: bold;
    line-height: 18px;
    color: #cb202d;
}

.reviewItemHeaderName{
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 0px;
}

.reviewItemHeaderDetails{
    font-size: 12px;
    font-style: normal;
    line-height: 19px;
    color: #9a9a9a;
}

.reviewItemBodyRatedLabel{
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.reviewItemBodyRating{
    font-weight: bold;
    background-color: #3f7e00;
    color: #fff;
    font-size: 12px;
    text-align: left;
    font-family: palatino linotype, palatino, serif;
    padding: 2px;
    border-radius: 4px;
}

.reviewItemBodyDetails{
    font-size:14px;
    font-weight:normal;
    line-height:21px;
}

.reviewItem{
    border-bottom: 6px solid #f5f5f1;
    margin-top: 10px;
}

.nearBySalonName{
    color: #2d2d2d;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-transform: none;
    margin-left: 5px;
    margin-bottom: 0px;
}

.nearBySalonLocation{
    color: #2d2d2d;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;   
    text-transform: none;
    margin-left: 5px;
}

.labelNearBySalonRating{
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    float: right;
    line-height: 17px;
    width: 26px;
    background-color: #5ba829;
    color: #fff;
    cursor: default;
    border-radius: 5px;
    text-align: center;
}

.nearByRow{
    margin-bottom: 7px;
    padding-bottom: 7px;
}

#stylistReviews{
    height: 282px;
    overflow-y: scroll;
}

.stylistPanelTitle{
    margin-top: 8px;
}

.stylistPanelTitleRating{
    margin-top: 6px;
}

.allReviewsDiv{
    height: 180px;
    overflow-y: scroll;
}